@model Post

    <form action="/Posts/Alteracao" method="post">

        <div>
            @Html.ValidationSummary()
        </div>

        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="DataPublicacao" value="@Model.DataPublicacao" />
        <input type="hidden" name="Publicado" value="@Model.Publicado.ToString()" />

        <div>
            <label>Título:</label>
            <input name="titulo" value="@Model.Titulo" />
            @Html.ValidationMessageFor(p => p.Titulo)
        </div>

        <div>
            <label>Resumo:</label>
            <input name="resumo" value="@Model.Resumo" />
            @Html.ValidationMessageFor(p => p.Resumo)
        </div>

        <div>
            <label>Categoria:</label>
            <input name="categoria" value="@Model.Categoria" />
            @Html.ValidationMessageFor(p => p.Categoria)
        </div>

        <button>Gravar</button>
    </form>