@model  Post

    <form action="/Posts/Inclusao" method="post">

        <div>
            @Html.ValidationSummary()
        </div>

        <div>
            <label>Título:</label>
            <input name="titulo" value="@Model.Titulo" />
            @Html.ValidationMessageFor(p => p.Titulo)
        </div>

        <div>
            <label>Resumo:</label>
            <input name="resumo" value="@Model.Resumo" />
            @Html.ValidationMessageFor(p => p.Resumo)
        </div>

        <div>
            <label>Categoria:</label>
            <input name="categoria" value="@Model.Categoria" />
            @Html.ValidationMessageFor(p => p.Categoria)
        </div>

        <button>Gravar</button>
    </form>